{
  "presets": [
    "flow",
    "react",
    ["env", { "targets": {
      "Chrome": 56
    }}]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-runtime",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", { "targets": {
          "node": 6
        }}]
      ],
      "plugins": [
        "transform-async-to-generator"
      ],
    },
    "production": {
      "presets": [
        ["env", { "targets": {
          "browsers": ["last 2 versions", "IE 11"]
        }}]
      ]
    }
  }
}
